<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/SimpleSensor" version="1.0.0" viewmodes="maximized">
    <tizen:application id="rJkt8wEYxp.SimpleSensor" package="rJkt8wEYxp" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <icon src="icon.png"/>
    <name>Accelerometer Tutorial </name>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
